/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background: white;
}

/* Header Style */
header{
    position: absolute;
    width: 1440px;
    height: 577px;
    left: 0px;
    top: 0px;
    bottom: 80px;
    background: #2D25A0;
}

/* Menu Style */
.menu-info{
    width: 1036px;
    height: 44px;
    display: flex;
    margin-left: 80px;
    margin-top: 44px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-item{
    font-size: 16px;
}
.menu-item a{
    color: #FFFFFF;
    padding: 36px;
    text-decoration: none;
}
.menu-icon{
    color: white;
    background-color: #E02C6D;
    padding: 10px;
    font-size: 16px;
}
.menu-icon i{
    font-size: 16px;
    margin-right: 10px;
}

/* Menu Title */
.container{
    display: flex;
    align-items: center;
    background: #2D25A0;
}
.half-width{
    width: 50%;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
}
h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    color: #FFFFFF;
}
.half-width-link{
    display: flex;
    align-items: center;
    background: #E02C6D;
    width: 168px;
    height: 44px;
}
a{
    color: white;
    padding: 10px 24px;
    text-decoration: none;
}
.fa-arrow-right{
    color: white;
}
.half-width img{
    width: 80%;
    padding-top: 80px;

}
.half-width-link:hover{
    background: tomato;
} 


/* Top players Styles */
.players-info{
    margin-top: 40%;
}
.top-players{
    display: grid;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    padding-left: 3px;
    margin-top: 90px;
}
.player{
    width: 330px;
    height: 474px;
    padding-top: 10px;
    margin: 15px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
}
.player img{
    width: 300px;
    height: 256px;
    margin-left: 14px;

}
.player-name{
    font-size: 18px;
    margin-left: 15px;
}
.player-details {
    font-size: 14px;
    padding: 15px;
    text-align: left ;

}

/* video-section */
.video-container{
    display: flex;
    align-items: center;
    margin-top: 44px;
}
.half-width-video{
    width: 50%;
    margin-left: 60px;
 
}

/* Footer Style */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;

}
footer img{
    width: 485px;
    height: 110px;

}
footer i{
    margin-top: 20px;
    padding: 10px;
    color: #969BAB;
    background: #d4d6df;
    border-radius: 20px;
    text-decoration: none;
}
.color{
    color: #000;
    background-color: white;
}
p{
    text-align: center;
}